# eth-ape[recommended-plugins]>=0.6.11
requests
# titanoboa[forking-recommended]
git+https://github.com/vyperlang/titanoboa@40f5bfcc2afe212bb5a6f5026148f3625596ded7#egg=titanoboa[forking-recommended]

black==22.12.0
flake8==3.9.2
isort==5.10.1
pylint==2.14.5
astroid==2.11.7
